<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style>
    #logo{
        background-position: center 
    }
    </style>
</head>
<body>

<header>
	<div id="header-wrapper">
	    <div id="header" class="container">
	        <div id="logo">
				<a href="index.html"><img src="../images/LOGO%20WHEREVENT.png"></a>
	        </div>
	    </div>
	</div>
</header>
<section class="container">
<legend>Selecione o tipo de cadastro</legend>

<div class="col-sm-6">
	<ul class="nav nav-pills nav-justified thumbnail" style="background-color: #000;">
		  <li class="active">
		    <a href="../formularios/promotor/cadastro-promotor.php">
		    <h1 class="list-group-item-heading">PROMOTOR</h1><br><br><br>
		    <p class="list-group-item-text"><h3>Cadastre seus eventos e encontre os melhores profissionais</h3></p></a>
		  </li>
	</ul>
</div>

<div class="col-sm-6">
	<ul class="nav nav-pills nav-justified thumbnail" style="background-color: #000;">
		  <li class="active">
		    <a href="../formularios/profissional/cadastro-profissional.php">
		    <h1 class="list-group-item-heading">PROFISSIONAL</h1><br><br><br>
		    <p class="list-group-item-text"><h3>Cadastre-se e encontre os melhores eventos para trabalhar</h3></p></a>
		  </li>
	</ul>
</div>

</section>

<script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
